<html>
  <head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="jquery.calendrical.js"></script>
    <link href="relform.css" rel="stylesheet" type="text/css" />
    <link href="calendarial.css" media="screen" rel="stylesheet" type="text/css" />
    <title>新曲予定登録</title>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
