<html>
<head>
	<meta charset="UTF-8">
	<link rel="shortcut icon" href="http://vocalendar.jp/favicon.ico">

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	<script src="jquery.calendrical.js"></script>
	<link href="relform.css" rel="stylesheet" type="text/css" />
	<link href="calendarial.css" media="screen" rel="stylesheet" type="text/css" />
	<title>VOCALENDAR（ボカレンダー）| 新曲予定登録</title>
</head>
<body>
<header>
<h1><a href="/">VOCALENDAR（ボカレンダー）</a></h1>
</header>

<%= yield %>

<footer>

</footer>

</body>
</html>
