body {
	width: 800px;
	margin: 25px auto 50px auto;
	font-size: 14px;
	font-weight: normal;
	line-height: 100%;
}


header {
	height: 100px;
}

#citeTitle {
    position: relative;
	top: 25px;
	left: 419px;
	height: 36px;
	width: 381px;
	background-image: url(http://vocalendar.jp/images/vocalendar-titlelogo-revb.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	overflow: hidden;
	z-index: 0;
}
#citeTitle a {
    position: relative;
	cursor: pointer;
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	-ms-filter:"alpha(opacity=70)";
	opacity: 0;
	z-index: 1;
}

section#leader h1 {
	font-size: 32px;
	color: #666666;
	margin-top: 50px;
}

section#leader p {
	width: 600px;
	line-height: 150%;
	color: #333333;
}

dl {
	position: relative;
	width: 800px;
}

dt {
	color: #333333;
	position: absolute;
	top: 2px;
}

dd {
	position: relative;
	left: 200px;
	width: 600px;
	margin-left: 0px;
}

input {
	color: #000000;
}

input[type='text'] {
	width: 600px;
}

textarea {
	width: 600px;
	line-height: 150%;
}

div.submitbutton {
	margin: 50px auto auto auto;
	text-align: center;
}

footer {
	font-size: 12px;
	line-height: 135%;
	color: #999999;
	margin-top: 50px;
}

.error {
	background-color: #FFBBBB;
}

.checkbox-set {
	display: inline-block;
	white-space: nowrap;
	min-width: 8em;
	margin-left: 1em;
}
